POSTGRES_URL=""
POSTGRES_PRISMA_URL=""
POSTGRES_URL_NO_SSL=""
POSTGRES_URL_NON_POOLING=""
POSTGRES_USER=""
POSTGRES_HOST=""
POSTGRES_PASSWORD=""
POSTGRES_DATABASE=""

GITHUB_CLIENT_SECRET=""
GITHUB_CLIENT_ID=""
# NOT "https://api.eaxmple.com/"
ORIGIN_URL="https://api.eaxmple.com"
WEBSITE_URL="https://eaxmple.com"